body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 10px;
    color: #333333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    height: 5em;
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(50,50,50,.50);
    box-shadow: 0 10px 20px rgba(50,50,50,.95);
}

nav ul li {
    display: inline;
    text-decoration: none;
    list-style-type: none;

}

nav ul li a {
    text-transform: lowercase;
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: -.1em;
    font-weight: bold;
    color: #d9d9d9;
    padding: .5em;
    transition-duration: 2s;
}

nav ul li a:hover {
    color: #b3d9ff;
    border: solid #b3d9ff;
    transition-duration: 0s;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#d9d9d9;
    height: 60em;
    background-image: url("capehouse.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-shadow: 0 10px 20px rgba(50,50,50,.95);
    background-color: #b3d9ff; /* For browsers who do not support background images*/
    transition: background-image 4.8s ease-in-out;
}


h1:hover {
    color: #b3d9ff;
    transition-delay: 0s;
}

h1 {
    font-size: 10em;
    transition-duration: 5s;
    text-shadow: 0 1px 1px rgba(50,50,50,.95);
}


main {
    max-width: 80%;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    background-color: #333333;
    flex-wrap: wrap;

}


.one-third {

    background-color: white;
    margin: 2em -5em;
    padding: 2em;
    border: 1em solid rgba(50,50,50,.25);
    box-shadow: 0 10px 20px rgba(50,50,50,.95);
    font-size: 1.6em;
}


.two-thirds {
    background-color: white;
    margin: 2em;
    padding: 2em;
    font-size: 1.6em;
}

.random {
    background-color: transparent;
    color: #e6e6e6;

}

h2 {
    color: #666666;
}

.random h2 {
    transition-delay: 4s;
    transition-duration: 3s;
}

.random h2:hover {
    color: #b3d9ff;
    transition-delay: 0s;
}


.work h2 {
    transition-delay: 4s;
    transition-duration: 3s;
}

.work h2:hover {
    color: #b3d9ff;
    transition-delay: 0s;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    background: rgba(50,50,50,.95);
    color: #b3d9ff;
    text-transform: lowercase;
    font-size: 1.5em;
}

.work {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    color: #e6e6e6;

}

.one-half {
    margin: 2em;
    padding: 1em;
    text-align: center;
    font-size: 1.6em;

}

.about {
    transition-delay: 1s;
    transition-duration: 4s;
}

.about:hover {
    border: 1em solid #b3d9ff;
    transition-delay: 0s;
}

.contact {
    transition-delay: 1s;
    transition-duration: 4s;
}

.contact:hover {
    border: 1em solid #b3d9ff;
    transition-delay: 0s;
}



@media screen and (max-width:900px) {
    .work {
        flex-direction: column;
        justify-content: center;
    }
}