* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header {
    background-color: #004F2D;
}

.summary {
    background-color: #0A8754;
    padding: 20px;
}

.summary p {
    font-size: 19px;

    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: #63D471
}

.preamble {
    background-color: #508CA4;
    padding: 20px;
}
.preamble p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
}
.preamble h3 {
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 20px;
}

section.intro {
    color: #fff;
}

h1 {
    font-size: 60px;
    padding: 20px;

}

h2 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 20px;
}

.main-supporting {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    border: 2px solid #2F4858;
    border-radius: 20px;

}

.main-supporting h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-supporting p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapper h3 {
    color: white;
    font-size: 24px;
}

.design-selection {
    background-color: #508CA4;
}

.design-selection h3,
.design-archives h3,
.zen-resources h3 {
    padding-left: 20px;
    padding-top: 40px;
}
.design-selection a,
.design-archives a,
.zen-resources a {
    text-decoration: none;
}

.design-selection, .design-archives, .zen-resources li {
    color: white;

}

.design-selection nav,
.design-archives nav,
.zen-resources ul {
    padding: 20px;
    padding-left: 60px;
    padding-bottom: 30px;
    font-size: 19px;

}
.design-archives {
    background-color: #0A8754;
}

.zen-resources {
    background-color: #004F2D;
}